// Font
$primary-font: "Sour Gummy", serif;

// Colors
$primary-color: #183153;
$primary-color-1: darken($primary-color, 10%);
$primary-color-2: darken($primary-color, 20%);

$secondary-color: #F2F4F3;
$secondary-color-1: darken($secondary-color, 10%);
$secondary-color-2: darken($secondary-color, 20%);

$tertiary-color: #e0e7ff;
$tertiary-color-1: darken($tertiary-color, 10%);
$tertiary-color-2: darken($tertiary-color, 20%);

// Font weight
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 800;

// Font sizes
$font-size-h1: clamp(1.8rem, 1.4rem + 0.8vw, 2.5rem);
$font-size-h2: clamp(1.3rem, 1.1rem + 0.6vw, 1.8rem); 
$font-size-text: clamp(1rem, 0.85rem + 0.5vw, 1.3rem);
