.button-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5rem;
}

.custom-button {
    text-align: center;
    color: $primary-color;
    background-color: none;
    padding: 1rem 2rem;
    border: 2px solid $primary-color;
    border-radius: 1rem;

    cursor: pointer;

    transition: background-color 0.3s;

    &:hover {
        color: $primary-color;
        background-color: $secondary-color-1;
    }

    &:active {
        color: $primary-color;
        background-color: $secondary-color-2;
    }
}
