// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// 'Poppins'

@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
// "Sour Gummy"

// colors
$primary-color: #183153;
$primary-color-1: darken($primary-color, 10%);
$primary-color-2: darken($primary-color, 20%);

$secondary-color: #F2F4F3;
$secondary-color-1: darken($secondary-color, 10%);
$secondary-color-2: darken($secondary-color, 20%);

$tertiary-color: #e0e7ff;
$tertiary-color-1: darken($tertiary-color, 10%);
$tertiary-color-2: darken($tertiary-color, 20%);
// tertiary #e0e7ff

// font_weight variables
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 800;

// font_size variables
$font-size-h1: clamp(2rem, 1.5rem + 1vw, 5rem);
$font-size-h2: clamp(1.1rem, 1rem + 0.7vw, 1.8rem);
$font-size-text: clamp(1rem, 0.85rem + 0.4vw, 1.2rem);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sezioni a piena larghezza */
.section {
    width: 100%;
    padding: 3rem 0; /* Spaziatura verticale per le sezioni */
}

/* Container limitato in larghezza */
.container {
    max-width: 1000px; /* Larghezza massima per il contenuto */
    margin: 0 auto; /* Centra il contenuto */
    padding-inline: 1rem; /* Padding orizzontale */
}

/* Esempio di sfondo diverso per ogni sezione */

header,
main,
footer.section {
    background-color: $tertiary-color;
}

section.section {
    background-color: $secondary-color;
    // #ffefc1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sour Gummy", serif;
    font-weight: $font-regular;
    color: $primary-color;
    background-color: $secondary-color;
}

h1 {
    font-size: $font-size-h1;
    font-weight: $font-bold;
}

h2 {
    font-size: $font-size-h2;
    font-weight: $font-semi-bold;
}

h3 {
    font-size: $font-size-text;
    font-weight: $font-semi-bold;
}

p {
    font-size: $font-size-text;
    font-weight: $font-regular;
}

ul {
    list-style-type: none;
    font-size: $font-size-text;
    font-weight: $font-regular;
}

a {
    text-decoration: none;
    font-size: $font-size-text;
    font-weight: $font-semi-bold;
    color: $tertiary-color-2;

    &:hover,
    &:focus {
        color: $tertiary-color-1;
    }

    &:active {
        color: $tertiary-color;
    }
}