html {
    scroll-behavior: smooth;  // Ensures smooth scrolling across the page
    background-color: $tertiary-color;
}
  
body {
    font-family: $primary-font;
    font-weight: $font-regular;
    color: $primary-color;
    background-color: $secondary-color;
}