// Section layout
.section {
    width: 100%;
    padding: 3rem 0;  // Vertical spacing for sections
}

header,
main,
footer.section {
    background-color: $tertiary-color;
}

section.section {
    background-color: $secondary-color;
}

// Container layout
.container {
    max-width: 1000px;  // Maximum width for content
    margin: 0 auto;  // Centers content
    padding-inline: 1rem;  // Horizontal padding
}

// Grid layout
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@include desktop-breakpoint {
    .grid {
        grid-template-columns: 60% 40%;
    }
}

// CV container grid layout
.cv-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .work-experience,
    .education-certifications,
    .tech-skills {
        gap: 1rem;
        // border: 1px solid red; // Debugging border (remove before production)
    }

    .job {
        border-bottom: 6px dotted $tertiary-color;
        padding: 1rem 0;

        &:last-of-type {
            border-bottom: none;
        }

        h3,
        strong {
            color: $tertiary-color-2;
        }

        p {
            padding-bottom: 0.3rem;
        }

        ul {
            list-style-type: "-";
            padding-left: 0.5rem;
            
            li {
                padding-left: 0.5rem;
            }
        }
    }
}

@include desktop-breakpoint {
    .cv-container {
        grid-template-columns: 1fr 1fr; // Two-column layout on desktop
    }

    .work-experience {
        grid-column: span 2; // Occupies full width on desktop
    }

    .education-certifications,
    .tech-skills {
        grid-column: span 1; // Side by side on desktop
    }
}