// Section layout
.section {
    width: 100%;
    padding: 3rem 0;
}

header,
main,
footer.section {
    background-color: $tertiary-color;
}

section.section {
    background-color: $secondary-color;
}

// Container layout - delete after boostrap import
.custom-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1rem;
}

// Grid layout
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@include desktop-breakpoint {
    .grid {
        grid-template-columns: 60% 40%;
    }
}

// CV container grid layout
.cv-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .work-experience,
    .education-certifications,
    .tech-skills {
        gap: 1rem;
    }

    .job {
        border-bottom: 6px dotted $tertiary-color;
        padding: 1rem 0;

        &:last-of-type {
            border-bottom: none;
        }

        h3,
        strong {
            color: $tertiary-color-2;
        }

        p {
            padding-bottom: 0.3rem;
        }

        ul {
            list-style-type: "-";
            padding-left: 0.5rem;
            
            li {
                padding-left: 0.5rem;
            }
        }
    }
}

@include desktop-breakpoint {
    .cv-container {
        grid-template-columns: 1fr 1fr;
    }

    .work-experience {
        grid-column: span 2;
    }

    .education-certifications,
    .tech-skills {
        grid-column: span 1;
    }
}