.navbar {
    background-color: $secondary-color;

    a {
        color: $primary-color;

        &:hover {
            color: darken($primary-color, 10%);
        }
    }

    .nav-link.active {
        color: $primary-color !important;
        font-weight: bold;
    }
}