// work experience's cards

.grid-card {
    display: grid;
    gap: 2rem;
    margin: 2rem 0;

    @include desktop-breakpoint {
        grid-template-columns: repeat(2, 1fr);
    }
}

.work-experience-card {
    border-radius: 1rem;
    overflow: hidden;

    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15), 0px 12px 24px rgba(0, 0, 0, 0.15);
    }
}

.card-image {
    height: 200px;
    background-color: $tertiary-color-1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        transform: scale(1.8);
    }
}

.card-text {
    padding: 2rem;
    background-color: white;
}

// portfolio's cards

.portfolio-card {
    display: grid;
    margin-top: 2rem;
    
    border-radius: 1rem;
    overflow: hidden;

    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15), 0px 12px 24px rgba(0, 0, 0, 0.15);
    }

    @include desktop-breakpoint {
        grid-template-columns: 1fr 2fr;
    }
}

.portfolio-card-image {
    height: 200px;
    background-color: $tertiary-color-1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        transform: scale(1.5);
    }

    @include desktop-breakpoint {
        height: 100%;

        img {
            transform: scale(1);
        }
    }
}

.portfolio-card-text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    ul {
        padding-top: 0.5rem;

        li {
            display: inline-block;
            color: $tertiary-color-2;
        }
    }
}