header {
    position: relative;
    margin-top: 50px;
    overflow: hidden;

    .header-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    h1 {
        text-align: center;
        justify-self: center;
        color: $tertiary-color-2;
        line-height: 1;
        margin-bottom: 1.3rem;
    }

    .button-container {
        padding-bottom: 3rem;
    }

    img {
        max-height: 500px;
        justify-self: center;
    }
}