header {
    position: relative;

    .header-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    h1 {
        text-align: center;
        color: $tertiary-color-2;
    }

    .header-image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    @include desktop-breakpoint {
        .header-grid {
            grid-template-columns: 2fr 1fr;
        }

        .header-content {
            min-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
    }
}