.logos-container {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 1.5rem;

    i {
        color: $primary-color;
        font-size: 2.5rem;
        margin: 0 3rem;
    }    

    .logos-slider {
        display: inline-block;
        animation: 15s slide infinite linear;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}